.header-container {
    min-width: 100%;
    border-radius: var(--border-radius);
    padding: 2.5rem;
    position: relative;
    overflow: hidden;
    min-height: 64px;
    color: var(--text-secundary);
}

.form-container {
    padding: 1rem 1rem 10% 1rem;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    min-width: 100%;
    padding: 0.75rem 3rem;
    height: 100%;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-list {
        display: flex;
    }

    .nav-item {
        list-style: none;
        margin-left: 24px;
    }

    .nav-link {
        text-decoration: none;
        color: var(--text-secundary);
        font-weight: 500;
        font-size: 0.95rem;
        transition: color 0.2s;
        position: relative;
        padding: 0.5rem 0;
    }
}

.nav-link:hover {
    color: var(--input-bg);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--input-bg);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.info-container {
    display: flex;
    align-items: center;
}

.info-session {
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-right: 1px solid white;
    padding-right: 1em;
}

.logo-img {
    height: 40px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
}

.aba {
    min-width: 100%;
}

.aba>input {
    display: none
}

.aba>input+div {
    display: none
}

.aba>input:checked+div {
    display: block
}

.section-title {
    color: #005b9e;
    margin-top: 30px;
    margin-bottom: 10px;
}

form {
    background: #fff;
    border-radius: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
    font-weight: 500;
    margin-bottom: 30px;
    
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input,
select {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.small-text {
    font-size: 12px;
    color: #555;
}

.help-icon {
    background: orange;
    color: #fff;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
    cursor: help;
}

.btn {
    background: #1a73e8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}

.btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.add-btn {
    margin-top: auto;
    align-self: flex-end;
    padding: 6px 12px;
    background: #ccc;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-container label {
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s;
}

.form-container:has(#conteudo1:checked) label[for="conteudo1"],
.form-container:has(#conteudo2:checked) label[for="conteudo2"],
.form-container:has(#conteudo3:checked) label[for="conteudo3"],
.form-container:has(#conteudo4:checked) label[for="conteudo4"] {
    border-bottom-color: rgb(0, 92, 187);
}

.label-description {
    display: inline-block;
    padding: 10px 16px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
    font-weight: 600;
}

.label-description:hover {
    background-color: #f2f2f2;
}

.form-btn {
    margin-left: auto;
    margin-top: 40px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    cursor: pointer;
    font-weight: 500;
    right: 2rem;
    display: flex;
    gap: 1rem;
    z-index: 1000;
    align-items: center;
    padding: 1rem 2rem;
    height: 3.3rem;
}

.form-buttons {
    right: 2rem;
    display: flex;
    gap: 1rem;
    z-index: 1000;
    position: absolute;
    justify-content: center;
}



.form-btn:hover {
    background-color: var(--primary-hover);
}

.pf-footer {
    background-color: #00264d;
    color: #fff;
    padding: 1rem 2rem;
    font-family: Arial, sans-serif;
}

.pf-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.pf-footer-left {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.footer-logo-container {
    height: 60px;
    gap: 1rem;
    border-right: 1px solid white;
    padding-right: 3rem;
}

.footer-logo {
    height: 60px;
}

.pf-footer-text {
    font-size: 0.9rem;
    line-height: 1.5;
}

.pf-link {
    display: flex;
    align-items: center;
    gap: 1px;
    text-decoration: none;
    color: inherit;
}

.icon-cadeado {
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 5px;
    height: 20px;
}

.pf-top-btn {
    background-color: #003366;
    color: #fff;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pf-top-btn:hover {
    background-color: #004080;
}

.lock-icon {
    align-items: center;
}