:root {
    --primary-color: #296da8;
    --primary-hover: #ffffff;
    --bg-color: #a9bcd0;
    --text-primary: #333333;
    --text-secundary: #d8dbe2;
    --error-color: #A94442;
    --sucess-color: #4caf50;
    --warning-color: #f0ad4e;
    --input-bg: #2c2c2c;
    --border-radius: 8px;
    --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2)
    --transition: all 0.3s ease;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    overflow-x: hidden;
  }